<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        >
    <testsuites>
        <testsuite name="controllers-tests">
            <directory>test/controllers</directory>
            <exclude>atest/controllers/IndexTest.php</exclude>
        </testsuite>
        <testsuite name="view-tests">
            <directory>test/view</directory>
        </testsuite>
    </testsuites>
</phpunit>